{% extends 'base.html' %}

{% block contenido %}

<div class="container-centered">
    <div class="card" style="width: 90%; max-width: 1200px;">
        <div class="card-body p-0">
            <div class="row g-0">
                <div class="col-md-4 chat-list">
                    <div class="chat-header">
                        <h5 class="m-3">Chats</h5>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for chat_group in chat_groups %}
                        <div class="chat-item" onclick="">
                            {{chat_group.group_name}}<br>
                        </div>
                        {% endfor %}
                        {% for message in messages %}
                        <div class="chat-item" onclick="">
                            {{message.sender}}<br>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-8 chat-conversation" id="chat-conversation">
                    <div class="chat-header">
                        <h5 class="m-3" id="chat-title">Selecciona un chat</h5>
                        <div class="header-buttons">
                            <button title="Enviar archivo">
                                <i class="bi bi-paperclip"></i> 
                            </button>
                            <button title="Videollamada">
                                <i class="bi bi-camera-video"></i> 
                            </button>
                        </div>
                    </div>
                    <div class="chat-messages" id="chat-messages">
                        <div class="chat-input">
                            <input type="text" id="chat-input" placeholder="Escribe un mensaje...">
                            <button onclick="sendMessage()">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}